<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HxbDataFluxApi</display-name>

  <servlet>
  <servlet-name>CCAFServlet</servlet-name>
  <servlet-class>api.action.CCAFServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>CCAFServlet</servlet-name>
  <url-pattern>/HXBApiEntrance</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>api.action.TestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/GetJsonByAppId</url-pattern>
  </servlet-mapping>

  <!-- XFire servlet -->
  <servlet>
    <servlet-name>XFireServlet</servlet-name>
    <servlet-class>
      org.codehaus.xfire.transport.http.XFireConfigurableServlet
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>XFireServlet</servlet-name>
    <url-pattern>/XFire/service/*</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
 </session-config>
 
</web-app>