<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="api.utils.GzcbCCAppAFMapper">

	<select id="isExistsCCApp" resultType="String" parameterType="String"
		statementType="PREPARED">
		SELECT shenqingjian_no FROM af_cc_app WHERE
		shenqingjian_no = #{shenqingjian_no,jdbcType =VARCHAR}
	</select>

	<insert id="saveCCApp" parameterType="java.util.HashMap"
		statementType="PREPARED">
		insert into af_cc_app(
		shenqingjian_no,
		chanping_id,
		applicationtype,
		card_type,
		name,
		enname,
		sex,
		birthdate,
		idtype,
		idcard,
		maritalstatus,
		education,
		homeadd1,
		homeadd2,
		homeadd3,
		homeadd4,
		homepostcode,
		homeareacode,
		homephone,
		mobile,
		email,
		homesituation,
		periodofresident,
		company,
		department,
		companyadd1,
		companyadd2,
		companyadd3,
		companyadd4,
		companypostcode,
		companyphone,
		companyext,
		industrycategory,
		companytype,
		companysize,
		companyduty,
		professionaltitle,
		salary,
		yearsemployed,
		workperiod,
		imfamilyname,
		imfamilyrelationship,
		imfamilymobile,
		linkman1name,
		linkman1relationship,
		linkman1mobile,
		status2,
		comphonequeryresult114,
		comphonequery114,
		comphonecheck114,
		companyinfo114,
		groupapplicationno,
		partner,
		isotherdb,
		is_day_cancel,
		is_db,
		sxqx,
		csbrance,
		white_reason,
		acname,
		acenname,
		acsex,
		acbirthdate,
		acidtype,
		acidcard,
		relationshipofmc,
		acmobile,
		accompany,
		accompanyphone,
		accompanyext,
		fastcardflag,
		promotionchannels,
		promotionorganization,
		promoterno,
		promotername,
		promotermobile,
		promoterphone,
		refereename,
		refereeno,
		recommendmobile,
		refereeidno,
		refereecardno,
		final_reason,
		primarylimit,
		rccode,
		sccode,
		tvcode,
		preaudit_code1,
		preaudit_code2,
		preaudit_code3,
		preaudit_code4,
		final_large_loan,
		final_cust_credit,
		pbc_com_name_check,
		pbc_comaddresss_check,
		pbc_homeaddress_check,
		pbc_cpf_check,
		creditcdtion1,
		cust_large_loan,
		tel_type,
		task_create_time,
		graduate,
		education_degree,
		enrol_date,
		speciality_name,
		graduate_time,
		study_result,
		study_style,
		accountnum,
		deposit_base,
		month_deposit_amount,
		balance,
		last_deposit_date ,
		std_cm_pnm,
		company_account,
		historyid,
		token_id,
		proxy_ip_type,
		province,
		city,
		county,
		street,
		lip,
		namecheckresult,
		documentnocheckresult,
		phonecheckresult,
		operator,
		areainfo,
		phonestatus,
		timelength,
		canceltime,
		report_id ,
		marital_state,
		pbc_mobile_value,
		pbc_comphone_value,
		pbc_homephone_value,
		edu_level,
		edu_degree,
		post_address,
		registere_address,
		spousename,
		spousecerttype,
		spousecertno,
		spouseemployer,
		spousetel_no,
		pbc_homeaddress_value1,
		pbc_homeaddress_value2,
		pbc_homeaddress_value3,
		pbc_homeaddress_value4,
		pbc_homeaddress_value5,
		residencetype1,
		residencetype2,
		residencetype3,
		residencetype4,
		residencetype5,
		gettime1,
		gettime2,
		gettime3,
		gettime4,
		gettime5,
		pbc_com_name1,
		pbc_com_name2,
		pbc_com_name3,
		pbc_com_name4,
		pbc_com_name5,
		pbc_comaddress_value1,
		pbc_comaddress_value2,
		pbc_comaddress_value3,
		pbc_comaddress_value4,
		pbc_comaddress_value5,
		occupation1,
		occupation2,
		occupation3,
		occupation4,
		occupation5,
		companyindustry1,
		companyindustry2,
		companyindustry3,
		companyindustry4,
		companyindustry5,
		currentjobstartyear1,
		currentjobstartyear2,
		currentjobstartyear3,
		currentjobstartyear4,
		currentjobstartyear5,
		infocapturetime1,
		infocapturetime2,
		infocapturetime3,
		infocapturetime4,
		infocapturetime5,
		house_loan_count,
		com_house_loan_count,
		other_loan_count,
		first_loan_open_month,
		loancard_count,
		standard_loancard_count,
		number_analysis,
		loanaccountcount,
		loanmonths,
		highestoverdueamountpermon,
		loanmaxduration,
		credit_loanaccountcount,
		credit_loanmonths,
		credit_highestoverdueamountpermon,
		credit_loanmaxduration,
		finance_corp_count,
		account_count,
		credit_limit,
		max_credit_limit_per_org,
		min_credit_limit_per_org,
		used_credit_limit,
		last6_month_used_avg_amount,
		gz_fund_no,
		area,
		monthlypayment,
		companyname,
		infocapturetime,
		credit_last1_month_queryorg_num,
		last1_month_queryorg_num,
		credit_last3_month_queryorg_num,
		last3_month_queryorg_num,
		credit_last6_month_queryorg_num,
		last6_month_queryorg_num,
		tongxun_add) values (
		#{shenqingjian_no,jdbcType =
		VARCHAR},
		#{chanping_id,jdbcType = VARCHAR},
		#{applicationtype,jdbcType
		= VARCHAR},
		#{card_type,jdbcType = VARCHAR},
		#{name,jdbcType = VARCHAR},
		#{enname,jdbcType = VARCHAR},
		#{sex,jdbcType = VARCHAR},
		#{birthdate,jdbcType = VARCHAR},
		#{idtype,jdbcType = VARCHAR},
		#{idcard,jdbcType = VARCHAR},
		#{maritalstatus,jdbcType = VARCHAR},
		#{education,jdbcType = VARCHAR},
		#{homeadd1,jdbcType = VARCHAR},
		#{homeadd2,jdbcType = VARCHAR},
		#{homeadd3,jdbcType = VARCHAR},
		#{homeadd4,jdbcType = VARCHAR},
		#{homepostcode,jdbcType = VARCHAR},
		#{homeareacode,jdbcType = VARCHAR},
		#{homephone,jdbcType = VARCHAR},
		#{mobile,jdbcType = VARCHAR},
		#{email,jdbcType = VARCHAR},
		#{homesituation,jdbcType = VARCHAR},
		#{periodofresident,jdbcType =
		VARCHAR},
		#{company,jdbcType = VARCHAR},
		#{department,jdbcType =
		VARCHAR},
		#{companyadd1,jdbcType = VARCHAR},
		#{companyadd2,jdbcType =
		VARCHAR},
		#{companyadd3,jdbcType = VARCHAR},
		#{companyadd4,jdbcType =
		VARCHAR},
		#{companypostcode,jdbcType = VARCHAR},
		#{companyphone,jdbcType = VARCHAR},
		#{companyext,jdbcType = VARCHAR},
		#{industrycategory,jdbcType = VARCHAR},
		#{companytype,jdbcType =
		VARCHAR},
		#{companysize,jdbcType = VARCHAR},
		#{companyduty,jdbcType =
		VARCHAR},
		#{professionaltitle,jdbcType = VARCHAR},
		#{salary,jdbcType =
		DECIMAL},
		#{yearsemployed,jdbcType = VARCHAR},
		#{workperiod,jdbcType =
		VARCHAR},
		#{imfamilyname,jdbcType = VARCHAR},
		#{imfamilyrelationship,jdbcType = VARCHAR},
		#{imfamilymobile,jdbcType =
		VARCHAR},
		#{linkman1name,jdbcType = VARCHAR},
		#{linkman1relationship,jdbcType = VARCHAR},
		#{linkman1mobile,jdbcType =
		VARCHAR},
		#{status2,jdbcType = VARCHAR},
		#{comphonequeryresult114,jdbcType = VARCHAR},
		#{comphonequery114,jdbcType = VARCHAR},
		#{comphonecheck114,jdbcType =
		VARCHAR},
		#{companyinfo114,jdbcType = VARCHAR},
		#{groupapplicationno,jdbcType = VARCHAR},
		#{partner,jdbcType =
		VARCHAR},
		#{isotherdb,jdbcType = VARCHAR},
		#{is_day_cancel,jdbcType =
		VARCHAR},
		#{is_db,jdbcType = VARCHAR},
		#{sxqx,jdbcType = VARCHAR},
		#{csbrance,jdbcType = VARCHAR},
		#{white_reason,jdbcType = VARCHAR},
		#{acname,jdbcType = VARCHAR},
		#{acenname,jdbcType = VARCHAR},
		#{acsex,jdbcType = VARCHAR},
		#{acbirthdate,jdbcType = VARCHAR},
		#{acidtype,jdbcType = VARCHAR},
		#{acidcard,jdbcType = VARCHAR},
		#{relationshipofmc,jdbcType = VARCHAR},
		#{acmobile,jdbcType = VARCHAR},
		#{accompany,jdbcType = VARCHAR},
		#{accompanyphone,jdbcType = VARCHAR},
		#{accompanyext,jdbcType = VARCHAR},
		#{fastcardflag,jdbcType = VARCHAR},
		#{promotionchannels,jdbcType = VARCHAR},
		#{promotionorganization,jdbcType = VARCHAR},
		#{promoterno,jdbcType =
		VARCHAR},
		#{promotername,jdbcType = VARCHAR},
		#{promotermobile,jdbcType
		= VARCHAR},
		#{promoterphone,jdbcType = VARCHAR},
		#{refereename,jdbcType
		= VARCHAR},
		#{refereeno,jdbcType = VARCHAR},
		#{recommendmobile,jdbcType
		= VARCHAR},
		#{refereeidno,jdbcType = VARCHAR},
		#{refereecardno,jdbcType
		= VARCHAR},
		#{final_reason,jdbcType = VARCHAR},
		#{primarylimit,jdbcType
		= VARCHAR},
		#{rccode,jdbcType = VARCHAR},
		#{sccode,jdbcType = VARCHAR},
		#{tvcode,jdbcType = VARCHAR},
		#{preaudit_code1,jdbcType = VARCHAR},
		#{preaudit_code2,jdbcType = VARCHAR},
		#{preaudit_code3,jdbcType =
		VARCHAR},
		#{preaudit_code4,jdbcType = VARCHAR},
		#{final_large_loan,jdbcType = VARCHAR},
		#{final_cust_credit,jdbcType =
		VARCHAR},
		#{pbc_com_name_check,jdbcType = VARCHAR},
		#{pbc_comaddresss_check,jdbcType = VARCHAR},
		#{pbc_homeaddress_check,jdbcType = VARCHAR},
		#{pbc_cpf_check,jdbcType =VARCHAR},
		#{creditcdtion1,jdbcType = VARCHAR},
		#{cust_large_loan,jdbcType = VARCHAR},
		#{tel_type,jdbcType = VARCHAR},
		#{task_create_time,jdbcType = VARCHAR},
		#{graduate,jdbcType = VARCHAR},
		#{education_degree,jdbcType = VARCHAR},
		#{enrol_date,jdbcType =
		VARCHAR},
		#{speciality_name,jdbcType = VARCHAR},
		#{graduate_time,jdbcType = VARCHAR},
		#{study_result,jdbcType =
		VARCHAR},
		#{study_style,jdbcType = VARCHAR},
		#{accountnum ,jdbcType =
		VARCHAR},
		#{deposit_base ,jdbcType = VARCHAR},
		#{month_deposit_amount,jdbcType = VARCHAR},
		#{balance ,jdbcType =
		VARCHAR},
		#{last_deposit_date ,jdbcType = VARCHAR},
		#{std_cm_pnm,jdbcType = VARCHAR},
		#{company_account,jdbcType =
		VARCHAR},
		#{historyid,jdbcType = DECIMAL},
		#{token_id,jdbcType =
		VARCHAR},
		#{proxy_ip_type,jdbcType = VARCHAR},
		#{province ,jdbcType =
		VARCHAR},
		#{city ,jdbcType = VARCHAR},
		#{county ,jdbcType = VARCHAR},
		#{street ,jdbcType = VARCHAR},
		#{lip ,jdbcType = VARCHAR},
		#{namecheckresult,jdbcType = VARCHAR},
		#{documentnocheckresult,jdbcType = VARCHAR},
		#{phonecheckresult,jdbcType = VARCHAR},
		#{operator,jdbcType = VARCHAR},
		#{areainfo,jdbcType = VARCHAR},
		#{phonestatus,jdbcType = VARCHAR},
		#{timelength,jdbcType = VARCHAR},
		#{canceltime,jdbcType = VARCHAR},
		#{report_id ,jdbcType = VARCHAR},
		#{marital_state,jdbcType = VARCHAR},
		#{pbc_mobile_value,jdbcType = VARCHAR},
		#{pbc_comphone_value,jdbcType =
		VARCHAR},
		#{pbc_homephone_value,jdbcType = VARCHAR},
		#{edu_level,jdbcType = VARCHAR},
		#{edu_degree,jdbcType = VARCHAR},
		#{post_address,jdbcType = VARCHAR},
		#{registere_address,jdbcType =
		VARCHAR},
		#{spousename,jdbcType = VARCHAR},
		#{spousecerttype,jdbcType =
		VARCHAR},
		#{spousecertno,jdbcType = VARCHAR},
		#{spouseemployer,jdbcType
		= VARCHAR},
		#{spousetel_no,jdbcType = VARCHAR},
		#{pbc_homeaddress_value1,jdbcType = VARCHAR},
		#{pbc_homeaddress_value2,jdbcType = VARCHAR},
		#{pbc_homeaddress_value3,jdbcType = VARCHAR},
		#{pbc_homeaddress_value4,jdbcType = VARCHAR},
		#{pbc_homeaddress_value5,jdbcType = VARCHAR},
		#{residencetype1,jdbcType = VARCHAR},
		#{residencetype2,jdbcType =
		VARCHAR},
		#{residencetype3,jdbcType = VARCHAR},
		#{residencetype4,jdbcType = VARCHAR},
		#{residencetype5,jdbcType =
		VARCHAR},
		#{gettime1,jdbcType = VARCHAR},
		#{gettime2,jdbcType =
		VARCHAR},
		#{gettime3,jdbcType = VARCHAR},
		#{gettime4,jdbcType =
		VARCHAR},
		#{gettime5,jdbcType = VARCHAR},
		#{pbc_com_name1,jdbcType =
		VARCHAR},
		#{pbc_com_name2,jdbcType = VARCHAR},
		#{pbc_com_name3,jdbcType
		= VARCHAR},
		#{pbc_com_name4,jdbcType = VARCHAR},
		#{pbc_com_name5,jdbcType = VARCHAR},
		#{pbc_comaddress_value1,jdbcType =
		VARCHAR},
		#{pbc_comaddress_value2,jdbcType = VARCHAR},
		#{pbc_comaddress_value3,jdbcType = VARCHAR},
		#{pbc_comaddress_value4,jdbcType = VARCHAR},
		#{pbc_comaddress_value5,jdbcType = VARCHAR},
		#{occupation1,jdbcType =
		VARCHAR},
		#{occupation2,jdbcType = VARCHAR},
		#{occupation3,jdbcType =
		VARCHAR},
		#{occupation4,jdbcType = VARCHAR},
		#{occupation5,jdbcType =
		VARCHAR},
		#{companyindustry1,jdbcType = VARCHAR},
		#{companyindustry2,jdbcType = VARCHAR},
		#{companyindustry3,jdbcType =
		VARCHAR},
		#{companyindustry4,jdbcType = VARCHAR},
		#{companyindustry5,jdbcType = VARCHAR},
		#{currentjobstartyear1,jdbcType = VARCHAR},
		#{currentjobstartyear2,jdbcType = VARCHAR},
		#{currentjobstartyear3,jdbcType = VARCHAR},
		#{currentjobstartyear4,jdbcType = VARCHAR},
		#{currentjobstartyear5,jdbcType = VARCHAR},
		#{infocapturetime1,jdbcType = VARCHAR},
		#{infocapturetime2,jdbcType =
		VARCHAR},
		#{infocapturetime3,jdbcType = VARCHAR},
		#{infocapturetime4,jdbcType = VARCHAR},
		#{infocapturetime5,jdbcType =
		VARCHAR},
		#{house_loan_count,jdbcType = VARCHAR},
		#{com_house_loan_count,jdbcType = VARCHAR},
		#{other_loan_count,jdbcType = VARCHAR},
		#{first_loan_open_month,jdbcType = VARCHAR},
		#{loancard_count,jdbcType
		= VARCHAR},
		#{standard_loancard_count,jdbcType = VARCHAR},
		#{number_analysis,jdbcType = VARCHAR},
		#{loanaccountcount,jdbcType =
		DECIMAL},
		#{loanmonths,jdbcType = DECIMAL},
		#{highestoverdueamountpermon,jdbcType = DECIMAL},
		#{loanmaxduration,jdbcType = DECIMAL},
		#{credit_loanaccountcount,jdbcType = DECIMAL},
		#{credit_loanmonths,jdbcType = DECIMAL},
		#{credit_highestoverdueamountpermon,jdbcType = DECIMAL},
		#{credit_loanmaxduration,jdbcType = DECIMAL},
		#{finance_corp_count,jdbcType = VARCHAR},
		#{account_count,jdbcType =
		VARCHAR},
		#{credit_limit,jdbcType = DECIMAL},
		#{max_credit_limit_per_org,jdbcType = DECIMAL},
		#{min_credit_limit_per_org,jdbcType = DECIMAL},
		#{used_credit_limit,jdbcType = DECIMAL},
		#{last6_month_used_avg_amount,jdbcType = DECIMAL},
		#{gz_fund_no,jdbcType = VARCHAR},
		#{area,jdbcType = VARCHAR},
		#{monthlypayment,jdbcType = VARCHAR},
		#{companyname,jdbcType =
		VARCHAR},
		#{infocapturetime,jdbcType = VARCHAR},
		#{credit_last1_month_queryorg_num,jdbcType = VARCHAR},
		#{last1_month_queryorg_num,jdbcType = VARCHAR},
		#{credit_last3_month_queryorg_num,jdbcType = VARCHAR},
		#{last3_month_queryorg_num,jdbcType = VARCHAR},
		#{credit_last6_month_queryorg_num,jdbcType = VARCHAR},
		#{last6_month_queryorg_num,jdbcType = VARCHAR},
		#{tongxun_add,jdbcType = VARCHAR}
		)
	</insert>

	<update id="updateCCApp" parameterType="java.util.HashMap"
		statementType="PREPARED">
		update af_cc_app set
		chanping_id = #{chanping_id,jdbcType
		= VARCHAR},
		applicationtype = #{applicationtype,jdbcType= VARCHAR},
		card_type = #{card_type,jdbcType = VARCHAR},
		name = #{name,jdbcType =
		VARCHAR},
		enname = #{enname,jdbcType = VARCHAR},
		sex = #{sex,jdbcType =
		VARCHAR},
		birthdate = #{birthdate,jdbcType = VARCHAR},
		idtype =
		#{idtype,jdbcType = VARCHAR},
		idcard = #{idcard,jdbcType = VARCHAR},
		maritalstatus = #{maritalstatus,jdbcType = VARCHAR},
		education =
		#{education,jdbcType = VARCHAR},
		homeadd1 = #{homeadd1,jdbcType =
		VARCHAR},
		homeadd2 = #{homeadd2,jdbcType = VARCHAR},
		homeadd3 =
		#{homeadd3,jdbcType = VARCHAR},
		homeadd4 = #{homeadd4,jdbcType =
		VARCHAR},
		homepostcode = #{homepostcode,jdbcType = VARCHAR},
		homeareacode = #{homeareacode,jdbcType = VARCHAR},
		homephone =
		#{homephone,jdbcType = VARCHAR},
		mobile = #{mobile,jdbcType = VARCHAR},
		email = #{email,jdbcType = VARCHAR},
		homesituation =
		#{homesituation,jdbcType = VARCHAR},
		periodofresident =
		#{periodofresident,jdbcType = VARCHAR},
		company = #{company,jdbcType =
		VARCHAR},
		department = #{department,jdbcType = VARCHAR},
		companyadd1 =
		#{companyadd1,jdbcType = VARCHAR},
		companyadd2 = #{companyadd2,jdbcType
		= VARCHAR},
		companyadd3 = #{companyadd3,jdbcType = VARCHAR},
		companyadd4 = #{companyadd4,jdbcType = VARCHAR},
		companypostcode =
		#{companypostcode,jdbcType = VARCHAR},
		companyphone =
		#{companyphone,jdbcType = VARCHAR},
		companyext = #{companyext,jdbcType
		= VARCHAR},
		industrycategory = #{industrycategory,jdbcType = VARCHAR},
		companytype = #{companytype,jdbcType = VARCHAR},
		companysize =
		#{companysize,jdbcType = VARCHAR},
		companyduty = #{companyduty,jdbcType
		= VARCHAR},
		professionaltitle = #{professionaltitle,jdbcType =
		VARCHAR},
		salary = #{salary,jdbcType = DECIMAL},
		yearsemployed =
		#{yearsemployed,jdbcType = VARCHAR},
		workperiod = #{workperiod,jdbcType
		= VARCHAR},
		imfamilyname = #{imfamilyname,jdbcType = VARCHAR},
		imfamilyrelationship = #{imfamilyrelationship,jdbcType = VARCHAR},
		imfamilymobile = #{imfamilymobile,jdbcType = VARCHAR},
		linkman1name =
		#{linkman1name,jdbcType = VARCHAR},
		linkman1relationship =
		#{linkman1relationship,jdbcType = VARCHAR},
		linkman1mobile =
		#{linkman1mobile,jdbcType = VARCHAR},
		status2 = #{status2,jdbcType =
		VARCHAR},
		comphonequeryresult114 = #{comphonequeryresult114,jdbcType =
		VARCHAR},
		comphonequery114 = #{comphonequery114,jdbcType = VARCHAR},
		comphonecheck114 = #{comphonecheck114,jdbcType = VARCHAR},
		companyinfo114 = #{companyinfo114,jdbcType = VARCHAR},
		groupapplicationno = #{groupapplicationno,jdbcType = VARCHAR},
		partner
		= #{partner,jdbcType = VARCHAR},
		isotherdb = #{isotherdb,jdbcType =
		VARCHAR},
		is_day_cancel = #{is_day_cancel,jdbcType = VARCHAR},
		is_db =
		#{is_db,jdbcType = VARCHAR},
		sxqx = #{sxqx,jdbcType = VARCHAR},
		csbrance = #{csbrance,jdbcType = VARCHAR},
		white_reason =
		#{white_reason,jdbcType = VARCHAR},
		acname = #{acname,jdbcType =
		VARCHAR},
		acenname = #{acenname,jdbcType = VARCHAR},
		acsex =
		#{acsex,jdbcType = VARCHAR},
		acbirthdate = #{acbirthdate,jdbcType =
		VARCHAR},
		acidtype = #{acidtype,jdbcType = VARCHAR},
		acidcard =
		#{acidcard,jdbcType = VARCHAR},
		relationshipofmc =
		#{relationshipofmc,jdbcType = VARCHAR},
		acmobile = #{acmobile,jdbcType
		= VARCHAR},
		accompany = #{accompany,jdbcType = VARCHAR},
		accompanyphone
		= #{accompanyphone,jdbcType = VARCHAR},
		accompanyext =
		#{accompanyext,jdbcType = VARCHAR},
		fastcardflag =
		#{fastcardflag,jdbcType = VARCHAR},
		promotionchannels =
		#{promotionchannels,jdbcType = VARCHAR},
		promotionorganization =
		#{promotionorganization,jdbcType = VARCHAR},
		promoterno =
		#{promoterno,jdbcType = VARCHAR},
		promotername =
		#{promotername,jdbcType = VARCHAR},
		promotermobile =
		#{promotermobile,jdbcType = VARCHAR},
		promoterphone =
		#{promoterphone,jdbcType = VARCHAR},
		refereename =
		#{refereename,jdbcType = VARCHAR},
		refereeno = #{refereeno,jdbcType =
		VARCHAR},
		recommendmobile = #{recommendmobile,jdbcType = VARCHAR},
		refereeidno = #{refereeidno,jdbcType = VARCHAR},
		refereecardno =
		#{refereecardno,jdbcType = VARCHAR},
		final_reason =
		#{final_reason,jdbcType = VARCHAR},
		primarylimit =
		#{primarylimit,jdbcType = VARCHAR},
		rccode = #{rccode,jdbcType =
		VARCHAR},
		sccode = #{sccode,jdbcType = VARCHAR},
		tvcode =
		#{tvcode,jdbcType = VARCHAR},
		preaudit_code1 =
		#{preaudit_code1,jdbcType = VARCHAR},
		preaudit_code2 =
		#{preaudit_code2,jdbcType = VARCHAR},
		preaudit_code3 =
		#{preaudit_code3,jdbcType = VARCHAR},
		preaudit_code4 =
		#{preaudit_code4,jdbcType = VARCHAR},
		final_large_loan =
		#{final_large_loan,jdbcType = VARCHAR},
		final_cust_credit =
		#{final_cust_credit,jdbcType = VARCHAR},
		pbc_com_name_check =
		#{pbc_com_name_check,jdbcType = VARCHAR},
		pbc_comaddresss_check=
		#{pbc_comaddresss_check,jdbcType = VARCHAR},
		pbc_homeaddress_check =
		#{pbc_homeaddress_check,jdbcType = VARCHAR},
		pbc_cpf_check =
		#{pbc_cpf_check,jdbcType = VARCHAR},
		creditcdtion1 =
		#{creditcdtion1,jdbcType = VARCHAR},
		cust_large_loan =
		#{cust_large_loan,jdbcType = VARCHAR},
		tel_type = #{tel_type,jdbcType =
		VARCHAR},
		task_create_time = #{task_create_time,jdbcType = VARCHAR},
		graduate = #{graduate,jdbcType = VARCHAR},
		education_degree =
		#{education_degree,jdbcType = VARCHAR},
		enrol_date =
		#{enrol_date,jdbcType = VARCHAR},
		speciality_name =
		#{speciality_name,jdbcType = VARCHAR},
		graduate_time =
		#{graduate_time,jdbcType = VARCHAR},
		study_result =
		#{study_result,jdbcType = VARCHAR},
		study_style =
		#{study_style,jdbcType = VARCHAR},
		accountnum = #{accountnum ,jdbcType
		= VARCHAR},
		deposit_base = #{deposit_base ,jdbcType = VARCHAR},
		month_deposit_amount = #{month_deposit_amount,jdbcType = VARCHAR},
		balance = #{balance ,jdbcType = VARCHAR},
		last_deposit_date =
		#{last_deposit_date ,jdbcType = VARCHAR},
		std_cm_pnm =
		#{std_cm_pnm,jdbcType = VARCHAR},
		company_account =
		#{company_account,jdbcType = VARCHAR},
		historyid = #{historyid,jdbcType
		= DECIMAL},
		token_id = #{token_id,jdbcType = VARCHAR},
		proxy_ip_type =
		#{proxy_ip_type,jdbcType = VARCHAR},
		province = #{province ,jdbcType =
		VARCHAR},
		city = #{city ,jdbcType = VARCHAR},
		county = #{county
		,jdbcType = VARCHAR},
		street = #{street ,jdbcType = VARCHAR},
		lip =
		#{lip ,jdbcType = VARCHAR},
		namecheckresult =
		#{namecheckresult,jdbcType = VARCHAR},
		documentnocheckresult =
		#{documentnocheckresult,jdbcType = VARCHAR},
		phonecheckresult =
		#{phonecheckresult,jdbcType = VARCHAR},
		operator = #{operator,jdbcType
		= VARCHAR},
		areainfo = #{areainfo,jdbcType = VARCHAR},
		phonestatus =
		#{phonestatus,jdbcType = VARCHAR},
		timelength = #{timelength,jdbcType =
		VARCHAR},
		canceltime = #{canceltime,jdbcType = VARCHAR},
		report_id =
		#{report_id ,jdbcType = VARCHAR},
		marital_state =
		#{marital_state,jdbcType = VARCHAR},
		pbc_mobile_value =
		#{pbc_mobile_value,jdbcType = VARCHAR},
		pbc_comphone_value =
		#{pbc_comphone_value,jdbcType = VARCHAR},
		pbc_homephone_value =
		#{pbc_homephone_value,jdbcType = VARCHAR},
		edu_level =
		#{edu_level,jdbcType = VARCHAR},
		edu_degree = #{edu_degree,jdbcType =
		VARCHAR},
		post_address = #{post_address,jdbcType = VARCHAR},
		registere_address = #{registere_address,jdbcType = VARCHAR},
		spousename = #{spousename,jdbcType = VARCHAR},
		spousecerttype =
		#{spousecerttype,jdbcType = VARCHAR},
		spousecertno =
		#{spousecertno,jdbcType = VARCHAR},
		spouseemployer =
		#{spouseemployer,jdbcType = VARCHAR},
		spousetel_no =
		#{spousetel_no,jdbcType = VARCHAR},
		pbc_homeaddress_value1 =
		#{pbc_homeaddress_value1,jdbcType = VARCHAR},
		pbc_homeaddress_value2 =
		#{pbc_homeaddress_value2,jdbcType = VARCHAR},
		pbc_homeaddress_value3 =
		#{pbc_homeaddress_value3,jdbcType = VARCHAR},
		pbc_homeaddress_value4 =
		#{pbc_homeaddress_value4,jdbcType = VARCHAR},
		pbc_homeaddress_value5 =
		#{pbc_homeaddress_value5,jdbcType = VARCHAR},
		residencetype1 =
		#{residencetype1,jdbcType = VARCHAR},
		residencetype2 =
		#{residencetype2,jdbcType = VARCHAR},
		residencetype3 =
		#{residencetype3,jdbcType = VARCHAR},
		residencetype4 =
		#{residencetype4,jdbcType = VARCHAR},
		residencetype5 =
		#{residencetype5,jdbcType = VARCHAR},
		gettime1 = #{gettime1,jdbcType =
		VARCHAR},
		gettime2 = #{gettime2,jdbcType = VARCHAR},
		gettime3 =
		#{gettime3,jdbcType = VARCHAR},
		gettime4 = #{gettime4,jdbcType =
		VARCHAR},
		gettime5 = #{gettime5,jdbcType = VARCHAR},
		pbc_com_name1 =
		#{pbc_com_name1,jdbcType = VARCHAR},
		pbc_com_name2 =
		#{pbc_com_name2,jdbcType = VARCHAR},
		pbc_com_name3 =
		#{pbc_com_name3,jdbcType = VARCHAR},
		pbc_com_name4 =
		#{pbc_com_name4,jdbcType = VARCHAR},
		pbc_com_name5 =
		#{pbc_com_name5,jdbcType = VARCHAR},
		pbc_comaddress_value1 =
		#{pbc_comaddress_value1,jdbcType = VARCHAR},
		pbc_comaddress_value2 =
		#{pbc_comaddress_value2,jdbcType = VARCHAR},
		pbc_comaddress_value3 =
		#{pbc_comaddress_value3,jdbcType = VARCHAR},
		pbc_comaddress_value4 =
		#{pbc_comaddress_value4,jdbcType = VARCHAR},
		pbc_comaddress_value5 =
		#{pbc_comaddress_value5,jdbcType = VARCHAR},
		occupation1 =
		#{occupation1,jdbcType = VARCHAR},
		occupation2 = #{occupation2,jdbcType
		= VARCHAR},
		occupation3 = #{occupation3,jdbcType = VARCHAR},
		occupation4 = #{occupation4,jdbcType = VARCHAR},
		occupation5 =
		#{occupation5,jdbcType = VARCHAR},
		companyindustry1 =
		#{companyindustry1,jdbcType = VARCHAR},
		companyindustry2 =
		#{companyindustry2,jdbcType = VARCHAR},
		companyindustry3 =
		#{companyindustry3,jdbcType = VARCHAR},
		companyindustry4 =
		#{companyindustry4,jdbcType = VARCHAR},
		companyindustry5 =
		#{companyindustry5,jdbcType = VARCHAR},
		currentjobstartyear1 =
		#{currentjobstartyear1,jdbcType = VARCHAR},
		currentjobstartyear2 =
		#{currentjobstartyear2,jdbcType = VARCHAR},
		currentjobstartyear3 =
		#{currentjobstartyear3,jdbcType = VARCHAR},
		currentjobstartyear4 =
		#{currentjobstartyear4,jdbcType = VARCHAR},
		currentjobstartyear5 =
		#{currentjobstartyear5,jdbcType = VARCHAR},
		infocapturetime1 =
		#{infocapturetime1,jdbcType = VARCHAR},
		infocapturetime2 =
		#{infocapturetime2,jdbcType = VARCHAR},
		infocapturetime3 =
		#{infocapturetime3,jdbcType = VARCHAR},
		infocapturetime4 =
		#{infocapturetime4,jdbcType = VARCHAR},
		infocapturetime5 =
		#{infocapturetime5,jdbcType = VARCHAR},
		house_loan_count =
		#{house_loan_count,jdbcType = VARCHAR},
		com_house_loan_count =
		#{com_house_loan_count,jdbcType = VARCHAR},
		other_loan_count =
		#{other_loan_count,jdbcType = VARCHAR},
		first_loan_open_month =
		#{first_loan_open_month,jdbcType = VARCHAR},
		loancard_count =
		#{loancard_count,jdbcType = VARCHAR},
		standard_loancard_count =
		#{standard_loancard_count,jdbcType = VARCHAR},
		number_analysis =
		#{number_analysis,jdbcType = VARCHAR},
		loanaccountcount =
		#{loanaccountcount,jdbcType = DECIMAL},
		loanmonths =
		#{loanmonths,jdbcType = DECIMAL},
		highestoverdueamountpermon =
		#{highestoverdueamountpermon,jdbcType = DECIMAL},
		loanmaxduration =
		#{loanmaxduration,jdbcType = DECIMAL},
		credit_loanaccountcount =
		#{credit_loanaccountcount,jdbcType = DECIMAL},
		credit_loanmonths =
		#{credit_loanmonths,jdbcType = DECIMAL},
		credit_highestoverdueamountpermon =
		#{credit_highestoverdueamountpermon,jdbcType = DECIMAL},
		credit_loanmaxduration = #{credit_loanmaxduration,jdbcType = DECIMAL},
		finance_corp_count = #{finance_corp_count,jdbcType = VARCHAR},
		account_count = #{account_count,jdbcType = VARCHAR},
		credit_limit =
		#{credit_limit,jdbcType = DECIMAL},
		max_credit_limit_per_org =
		#{max_credit_limit_per_org,jdbcType = DECIMAL},
		min_credit_limit_per_org = #{min_credit_limit_per_org,jdbcType =
		DECIMAL},
		used_credit_limit = #{used_credit_limit,jdbcType = DECIMAL},
		last6_month_used_avg_amount = #{last6_month_used_avg_amount,jdbcType =
		DECIMAL},
		gz_fund_no = #{gz_fund_no,jdbcType = VARCHAR},
		area =
		#{area,jdbcType = VARCHAR},
		monthlypayment = #{monthlypayment,jdbcType
		= VARCHAR},
		companyname = #{companyname,jdbcType = VARCHAR},
		infocapturetime = #{infocapturetime,jdbcType = VARCHAR},
		credit_last1_month_queryorg_num =
		#{credit_last1_month_queryorg_num,jdbcType = VARCHAR},
		last1_month_queryorg_num = #{last1_month_queryorg_num,jdbcType =
		VARCHAR},
		credit_last3_month_queryorg_num =
		#{credit_last3_month_queryorg_num,jdbcType = VARCHAR},
		last3_month_queryorg_num = #{last3_month_queryorg_num,jdbcType =
		VARCHAR},
		credit_last6_month_queryorg_num =
		#{credit_last6_month_queryorg_num,jdbcType = VARCHAR},
		last6_month_queryorg_num = #{last6_month_queryorg_num,jdbcType =
		VARCHAR},
		tongxun_add = #{tongxun_add,jdbcType = VARCHAR}
		where shenqingjian_no = #{shenqingjian_no,jdbcType =VARCHAR}
	</update>

	<select id="selectCCApp" resultType="java.util.HashMap"
		parameterType="String" statementType="PREPARED">
		select
		shenqingjian_no,
		chanping_id,
		applicationtype,
		card_type,
		name,
		enname,
		sex,
		birthdate,
		idtype,
		idcard,
		maritalstatus,
		education,
		homeadd1,
		homeadd2,
		homeadd3,
		homeadd4,
		homepostcode,
		homeareacode,
		homephone,
		mobile,
		email,
		homesituation,
		periodofresident,
		company,
		department,
		companyadd1,
		companyadd2,
		companyadd3,
		companyadd4,
		companypostcode,
		companyphone,
		companyext,
		industrycategory,
		companytype,
		companysize,
		companyduty,
		professionaltitle,
		salary,
		yearsemployed,
		workperiod,
		imfamilyname,
		imfamilyrelationship,
		imfamilymobile,
		linkman1name,
		linkman1relationship,
		linkman1mobile,
		status2,
		comphonequeryresult114,
		comphonequery114,
		comphonecheck114,
		companyinfo114,
		groupapplicationno,
		partner,
		isotherdb,
		is_day_cancel,
		is_db,
		sxqx,
		csbrance,
		white_reason,
		acname,
		acenname,
		acsex,
		acbirthdate,
		acidtype,
		acidcard,
		relationshipofmc,
		acmobile,
		accompany,
		accompanyphone,
		accompanyext,
		fastcardflag,
		promotionchannels,
		promotionorganization,
		promoterno,
		promotername,
		promotermobile,
		promoterphone,
		refereename,
		refereeno,
		recommendmobile,
		refereeidno,
		refereecardno,
		final_reason,
		primarylimit,
		rccode,
		sccode,
		tvcode,
		preaudit_code1,
		preaudit_code2,
		preaudit_code3,
		preaudit_code4,
		final_large_loan,
		final_cust_credit,
		pbc_com_name_check,
		pbc_comaddresss_check,
		pbc_homeaddress_check,
		pbc_cpf_check,
		creditcdtion1,
		cust_large_loan,
		tel_type,
		task_create_time,
		graduate,
		education_degree,
		enrol_date,
		speciality_name,
		graduate_time,
		study_result,
		study_style,
		accountnum ,
		deposit_base ,
		month_deposit_amount,
		balance,
		last_deposit_date,
		std_cm_pnm,
		company_account,
		historyid,
		token_id,
		proxy_ip_type,
		province,
		city,
		county,
		street,
		lip,
		namecheckresult,
		documentnocheckresult,
		phonecheckresult,
		operator,
		areainfo,
		phonestatus,
		timelength,
		canceltime,
		report_id ,
		marital_state,
		pbc_mobile_value,
		pbc_comphone_value,
		pbc_homephone_value,
		edu_level,
		edu_degree,
		post_address,
		registere_address,
		spousename,
		spousecerttype,
		spousecertno,
		spouseemployer,
		spousetel_no,
		pbc_homeaddress_value1,
		pbc_homeaddress_value2,
		pbc_homeaddress_value3,
		pbc_homeaddress_value4,
		pbc_homeaddress_value5,
		residencetype1,
		residencetype2,
		residencetype3,
		residencetype4,
		residencetype5,
		gettime1,
		gettime2,
		gettime3,
		gettime4,
		gettime5,
		pbc_com_name1,
		pbc_com_name2,
		pbc_com_name3,
		pbc_com_name4,
		pbc_com_name5,
		pbc_comaddress_value1,
		pbc_comaddress_value2,
		pbc_comaddress_value3,
		pbc_comaddress_value4,
		pbc_comaddress_value5,
		occupation1,
		occupation2,
		occupation3,
		occupation4,
		occupation5,
		companyindustry1,
		companyindustry2,
		companyindustry3,
		companyindustry4,
		companyindustry5,
		currentjobstartyear1,
		currentjobstartyear2,
		currentjobstartyear3,
		currentjobstartyear4,
		currentjobstartyear5,
		infocapturetime1,
		infocapturetime2,
		infocapturetime3,
		infocapturetime4,
		infocapturetime5,
		house_loan_count,
		com_house_loan_count,
		other_loan_count,
		first_loan_open_month,
		loancard_count,
		standard_loancard_count,
		number_analysis,
		loanaccountcount,
		loanmonths,
		highestoverdueamountpermon,
		loanmaxduration,
		credit_loanaccountcount,
		credit_loanmonths,
		credit_highestoverdueamountpermon,
		credit_loanmaxduration,
		finance_corp_count,
		account_count,
		credit_limit,
		max_credit_limit_per_org,
		min_credit_limit_per_org,
		used_credit_limit,
		last6_month_used_avg_amount,
		gz_fund_no,
		area,
		monthlypayment,
		companyname,
		infocapturetime,
		credit_last1_month_queryorg_num,
		last1_month_queryorg_num,
		credit_last3_month_queryorg_num,
		last3_month_queryorg_num,
		credit_last6_month_queryorg_num,
		last6_month_queryorg_num,
		tongxun_add 
		from af_cc_app
		where
		shenqingjian_no =
		#{shenqingjian_no,jdbcType =VARCHAR}
	</select>

	<select id="getCCSnaInputConf" resultType="java.util.HashMap">
		select
		src_type,to_type,link_type,cluster from af_cc_app_snainput_conf
	</select>

	<delete id="deleteCCSnaInputFromAppno" parameterType="String"
		statementType="PREPARED">
		delete from af_cc_app_snainput where from_node = 
		#{shenqingjian_no,jdbcType=VARCHAR}
	</delete>

	<insert id="saveCCSnaInput" parameterType="java.util.HashMap"
		statementType="PREPARED">
		insert into af_cc_app_snainput
		(from_node,
		to_node,
		src_type,
		from_type,
		to_type,
		link_type,
		cluster)
		VALUES
		(#{from_node,jdbcType = VARCHAR},
		#{to_node,jdbcType = VARCHAR},
		#{src_type,jdbcType = VARCHAR},
		#{from_type,jdbcType = VARCHAR},
		#{to_type,jdbcType = VARCHAR},
		#{link_type,jdbcType = VARCHAR},
		#{cluster,jdbcType = VARCHAR})
	</insert>
	
	<delete id="deleteCCAppAddFromAppno" parameterType="String"
		statementType="PREPARED">
		delete from af_cc_app_add where shenqingjian_no =
		#{shenqingjian_no,jdbcType=VARCHAR}
	</delete>

	<delete id="deleteCCAppCmpFromAppno" parameterType="String"
		statementType="PREPARED">
		delete from af_cc_app_cmp where shenqingjian_no =
		#{shenqingjian_no,jdbcType=VARCHAR}
	</delete>

	<insert id="saveCCAppAdd" parameterType="java.util.HashMap"
		statementType="PREPARED">
		insert into af_cc_app_add
		(shenqingjian_no,
		data_type,
		data_value,
		DistrictMC,
		TownMC,
		StreetMC,
		BlockMC,
		BuildingMC,
		UnitMC,
		FloorMC,
		RoomMC,
		AddInfo)
		values
		(#{shenqingjian_no,jdbcType=VARCHAR},
		#{data_type,jdbcType=VARCHAR},
		#{data_value,jdbcType=VARCHAR},
		#{DistrictMC,jdbcType=VARCHAR},
		#{TownMC,jdbcType=VARCHAR},
		#{StreetMC,jdbcType=VARCHAR},
		#{BlockMC,jdbcType=VARCHAR},
		#{BuildingMC,jdbcType=VARCHAR},
		#{UnitMC,jdbcType=VARCHAR},
		#{FloorMC,jdbcType=VARCHAR},
		#{RoomMC,jdbcType=VARCHAR},
		#{AddInfo,jdbcType=VARCHAR})
	</insert>

	<insert id="saveCCAppCmp" parameterType="java.util.HashMap"
		statementType="PREPARED">
		insert into af_cc_app_cmp
		(shenqingjian_no,
		data_type,
		data_value,
		NameMC,
		LegalFormMC,
		SiteMC,
		AddMC)
		values
		(#{shenqingjian_no,jdbcType=VARCHAR},
		#{data_type,jdbcType=VARCHAR},
		#{data_value,jdbcType=VARCHAR},
		#{NameMC,jdbcType=VARCHAR},
		#{LegalFormMC,jdbcType=VARCHAR},
		#{SiteMC,jdbcType=VARCHAR},
		#{AddMC,jdbcType=VARCHAR})
	</insert>
	
	<insert id="saveCCAppMatchRst" parameterType="java.util.HashMap"  statementType="PREPARED">
	insert into af_cc_app_matchrst
(shenqingjian_no,
APP_entity_type,
APP_data_type,
APP_data_value,
APP_data_source,
EXT_entity_type,
EXT_data_type,
EXT_data_value,
EXT_data_source,
simulation_parsing,
simulation_char,
simulation_cluster,
ext_label)
values
(#{shenqingjian_no,jdbcType=VARCHAR},
#{APP_entity_type,jdbcType=VARCHAR},
#{APP_data_type,jdbcType=VARCHAR},
#{APP_data_value,jdbcType=VARCHAR},
#{APP_data_source,jdbcType=VARCHAR},
#{EXT_entity_type,jdbcType=VARCHAR},
#{EXT_data_type,jdbcType=VARCHAR},
#{EXT_data_value,jdbcType=VARCHAR},
#{EXT_data_source,jdbcType=VARCHAR},
#{simulation_parsing,jdbcType = DECIMAL},
#{simulation_char,jdbcType = DECIMAL},
#{simulation_cluster,jdbcType = DECIMAL},
#{ext_label,jdbcType=VARCHAR})
	</insert>
	
	<select id="callAfCCAppRT" parameterType="String" statementType="CALLABLE">
		{call af_cc_app_rt(#{shenqingjian_no,jdbcType=VARCHAR})}
	</select>
	
	<select id="selectMdkKequn" parameterType="java.util.HashMap" resultType="java.util.HashMap" statementType="PREPARED">
select 
    kequn,company
from
    af_cc_mdk_kequn
where
    company = #{company,jdbcType=VARCHAR}
        or (namemc = #{namemc,jdbcType=VARCHAR}
        and legalformmc = #{legalformmc,jdbcType=VARCHAR}
        and sitemc = #{sitemc,jdbcType=VARCHAR} and namemc is not null and legalformmc is not null and sitemc is not null)
        or (namemc = #{namemc,jdbcType=VARCHAR}
        and legalformmc = #{legalformmc,jdbcType=VARCHAR}
        and addinfomc = #{addinfomc,jdbcType=VARCHAR} and namemc is not null and legalformmc is not null and addinfomc is not null)
        or (namemc = #{namemc,jdbcType=VARCHAR} and sitemc = #{sitemc,jdbcType=VARCHAR}
        and addinfomc = #{addinfomc,jdbcType=VARCHAR} and namemc is not null and sitemc is not null and addinfomc is not null)
limit 1
	</select>
	
<insert id="insertMdkKequn" parameterType="java.util.HashMap" 
		statementType="PREPARED">
	insert into af_cc_app_matchrst
(shenqingjian_no,
APP_entity_type,
APP_data_type,
APP_data_value,
APP_data_source,
EXT_entity_type,
EXT_data_type,
EXT_data_value,
EXT_data_source,
simulation_parsing,
simulation_char,
simulation_cluster,
ext_label) 
values 
(#{shenqingjian_no,jdbcType=VARCHAR},
'CMP',
'company',
#{APP_data_value,jdbcType=VARCHAR},
'APP',
'CMP',
'company',
#{EXT_data_value,jdbcType=VARCHAR},
'MDK',
999,
999,
999,
#{ext_label,jdbcType=VARCHAR})
</insert>

<delete id="deleteMatchrstbyAppno" parameterType="String" statementType="PREPARED">
		delete from af_cc_app_matchrst where shenqingjian_no = #{shenqingjian_no,jdbcType=VARCHAR}
</delete>

</mapper>